.base-layout
  .menu-sider
    overflow hidden
    position relative
    left 0

  .logo
    display flex
    flex-direction row
    height 66px
    margin-left 24px
    align-items center

    img
      height 32px

    span
      color #fff
      font-size 20px
      font-family $font-family
      font-weight bold
      margin-left 10px

  .right
    .header
      background #fff
      padding 0
      height 64px

      .trigger
        font-size 18px
        line-height 64px
        padding 0 24px
        cursor pointer
        transition color 0.3s

    .content
      margin 24px 16px 0
      overflow inherit
      padding 24px
      background #fff
