.base-layout
  min-height 100vh

  .right
    .header
      background #fff
      padding 0
      height 64px
      display flex

    .content
      margin 24px 16px 0
      overflow inherit
      padding 24px
      background #fff
